<!DOCTYPE html>
<html lang="en">
<%- include('../head',{ title: locals.title }) -%>

     <body>
          <%- include('../header') -%>
               <div class="container text-center d-flex flex-row">
                    <div class="w-50 p-5 d-flex flex-column align-items-center">
                         <img src=<%=product.image%> class="image" alt="...">
                         <h3> Items: </h3>
                         <% for (let item of locals.items) { %>
                              <a class="mb-5" href="/catalog/item/<%=item.id%>">
                                   <%= item.id %>
                              </a>
                              <% } %>
                                   <table class="text-center table table-dark h4 mb-5">
                                        <thead>
                                             <tr>
                                                  <th class="p-3"> Feature </th>
                                                  <th class="p-3"> Specification </th>
                                             </tr>
                                        </thead>
                                        <tbody>
                                             <% for(let [field,value] of product.stats.entries()) { %>
                                                  <tr>
                                                       <td class="p-3">
                                                            <%= field %>
                                                       </td>
                                                       <td class="p-3">
                                                            <%= value %>
                                                       </td>
                                                  </tr>
                                                  <% } %>
                                        </tbody>
                                   </table>
                                   <a href="/catalog/product/<%=product.id%>/update"
                                        class="mb-3 btn btn-primary mb-4">Update Details</a>
                                   <a href="/catalog/product/<%=product.id%>/delete" class="mb-5 btn btn-danger">Delete
                                        Product</a>
                    </div>
                    <div class="w-50 d-flex flex-column align-items-center">
                         <h1 class="display-1 p-5">
                              <%= product.name %>
                         </h1>
                         <h2 class="display-3 mb-2">
                              <a class="text-decoration-none" href="/catalog/brand/<%= product.brand.id %>">
                                   <%= product.brand.company_name %>
                              </a>
                         </h2>
                         <h3 class="display-4 mb-2">
                              Category: <a class="text-decoration-none"
                                   href="/catalog/category/<%= product.category.id %>">
                                   <%= product.category.name %>
                              </a>
                         </h3>
                         <h4 class="display-5 mb-2">
                              Price: <%= product.price %>$
                         </h4>
                         <h5 class="display-5 mb-2">
                              Warrenty: <%= product.warrenty %> years
                         </h5>
                         <p class="h4 mb-2 text-start p-3">
                              <%= product.description %>
                         </p>
                    </div>
               </div>
               <h3 class="text-center mb-5"> Items: </h3>
               <table class="text-center table table-light table-striped h5">
                    <thead>
                         <tr>
                              <th class="p-3"> Id </th>
                              <th class="p-3"> Status </th>
                              <th class="p-3"> Manufacturing Date</th>
                         </tr>
                    </thead>
                    <tbody>

                         <% for(let item of items) { %>
                              <tr>
                                   <td class="p-3">
                                        <%= item.id %>
                                   </td>
                                   <td class="p-3">
                                        <%= item.status %>
                                   </td>
                                   <td class="p-3">
                                        <%= item.manufactringDate %>
                                   </td>
                              </tr>
                              <% } %>
                    </tbody>
               </table>
     </body>

</html>