<!DOCTYPE html>
<html lang="en">
<%- include('../head',{ title: locals.title }) -%>

     <body>
          <%- include('../header') -%>
               <div class="d-flex flex-row align-items-stretchr justify-content-evenly flex-wrap p-5">
                    <% for (let product of products){ %>
                         <div class="mb-5 me-5 mh-50 w-25 card border-dark p-3 text-center">
                              <div class="card-header">
                                   <h3 class="display-5">
                                        <%= product.name %>
                                   </h3>
                              </div>
                              <img src=<%=product.image%> class="card-img-top image me-3 mb-3" alt="...">
                              <div class="card-body">
                                   <h4 class="card-title display-6"> <%= product.price %>$ </h4>
                                   
                                   <h3 class="display-6"><%= product.brand.company_name %></h3>
                              </div>
                              <div class="card-footer bg-transparent border-success">
                                   <a href="/product/<%= product.id %>" class="btn btn-outline-success">View
                                        Product</a>
                              </div>
                         </div>
                         <% } %>
               </div>
     </body>

</html>